body,
html {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #6666;
}

/* PARALLAX IMAGE STYLING */

/* we position relative with no repeating and centered, we make sure that it covers the full container */

div.parallax-img1,
div.parallax-img2,
div.parallax-img3 {
  color: #000;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
  fixed = parallax
  scroll = normal(default attachment)
  */
  background-attachment: fixed;
}

.parallax-img1 {
  background: url('../img/coding1.jpeg');
  min-height: 100%;
}

.parallax-img2 {
  background: url('../img/coding3.jpeg');
  min-height: 400px;
}

.parallax-img3 {
  background: url('../img/coding4.jpg');
  min-height: 400px;
}

/* PARALLAX TEXT */
.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.caption .border {
  background-color: #111;
  color: white;
  padding: 1rem;
}

.caption .border.trans {
  background-color: rgba(0, 0, 0, 0.5);
}

/* SECTION STYLINGS */
.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

/* REMOVE PARALLAX FOR MOBILE DEVICES */
@media (max-width: 568px) {
  div.parallax-img1,
  div.parallax-img2,
  div.parallax-img3 {
    background-attachment: scroll;
  }
}
